/* fonts */
:root {
  --sl-font: AtkinsonHyperlegible, serif;
  --sl-font-system-mono: JetBrainsMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #322000;
  --sl-color-accent: #8d6000;
  --sl-color-accent-high: #eac185;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c8c8c8;
  --sl-color-gray-3: #a4a4a4;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #bed9ff;
  --sl-color-accent: #004fa9;
  --sl-color-accent-high: #002f6a;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}

code {
  color: var(--sl-color-accent-high);
}

pre[data-language="ansi"] code {
  line-height: 100% !important;
}

:root[data-theme="light"] code {
  color: var(--sl-color-accent);
}

header .title-wrapper a {
  color: var(--sl-color-white);
}
