---
import Default from '@astrojs/starlight/components/ContentPanel.astro'
const pageSlug = Astro.locals.starlightRoute.slug
---

{
  pageSlug === 'openapi/rapidoc/pokeapi' || pageSlug === 'openapi/stoplight-elements/pokeapi' ? (
    <section>
      <slot />
    </section>
  ) : (
    <Default>
      <slot />
    </Default>
  )
}

<style>
  section:first-child {
    display: none;
  }
</style>
