<script src="../assets/rapi-doc/rapidoc-min.js"></script>
<div class="not-content">
  <rapi-doc
    spec-url="https://raw.githubusercontent.com/PokeAPI/pokeapi/master/openapi.yml"
    theme="dark"
    show-header="false"
    show-curl-before-try="true"
    layout="column"
    render-style="read"
  />
</div>
