---
import elementStylesRaw from '../assets/stoplight-elements/css/styles.min.css?raw'
---

<script src="../assets/stoplight-elements/js/web-component.min.js"></script>

<div class="not-content">
  <style is:inline set:html={elementStylesRaw}></style>
  <elements-api
    apiDescriptionUrl="https://raw.githubusercontent.com/PokeAPI/pokeapi/master/openapi.yml"
    router="hash"
  />
</div>
